{% paginate search.results by 2 %}
<div class="template-search__results collection page-width {% unless isConvertLanguage %}loading{% endunless %}" id="product-grid" data-id="{{ section.id }}">
    <div class="loading-overlay gradient"></div>
    <ul class="grid grid--4-col-desktop grid--3-col-tablet grid--2-col grid--one-third-max grid--quarter-max negative-margin product-grid"
        role="list">
        {%- for item in search.results -%}
        <li class="grid__item{% unless item.object_type == 'product' %} grid__item--small{% endunless %}">
            {%- capture product_settings -%}{%- if section.settings.product_show_vendor -%}vendor,{%- endif
            -%}title,price{%- endcapture -%}
            {% render 'product-card',
            product_card_product: item,
            media_size: section.settings.image_ratio,
            show_secondary_image: section.settings.show_secondary_image,
            add_image_padding: section.settings.add_image_padding,
            show_vendor: section.settings.show_vendor,
            show_image_outline: section.settings.show_image_outline,
            show_rating: section.settings.show_rating
            %}
        </li>
        {%- endfor -%}
    </ul>
    {%- if paginate.pages > 1 -%}
    {% render 'pagination', paginate: paginate %}
    {%- endif -%}
</div>
{% endpaginate %}
