<div class="pane-topic-path">
    <div class="container">
        <div class="block-topic-path">
            <ul class="block-topic-path--list" id="bread-crumb-list" itemscope
                itemtype="https://schema.org/BreadcrumbList">
                <li class="block-topic-path--category-item block-topic-path--item__home" itemscope
                    itemtype="https://schema.org/ListItem" itemprop="itemListElement">
                    <a href="https://allu-official.com/shop/" itemprop="item">
                        <span itemprop="name">ホーム</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>

                <li class="block-topic-path--category-item" itemscope itemtype="https://schema.org/ListItem"
                    itemprop="itemListElement">
                    &gt;
                    <a href="https://allu-official.com/shop/c/c30/" itemprop="item">
                        <span itemprop="name">アパレル</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>


                <li class="block-topic-path--category-item" itemscope itemtype="https://schema.org/ListItem"
                    itemprop="itemListElement">
                    &gt;
                    <a href="https://allu-official.com/shop/c/c3001/" itemprop="item">
                        <span itemprop="name">アウター</span>
                    </a>
                    <meta itemprop="position" content="3" />
                </li>


                <li class="block-topic-path--category-item" itemscope itemtype="https://schema.org/ListItem"
                    itemprop="itemListElement">
                    &gt;
                    <a href="https://allu-official.com/shop/c/c300101/" itemprop="item">
                        <span itemprop="name">ジャケット</span>
                    </a>
                    <meta itemprop="position" content="4" />
                </li>


                <li class="block-topic-path--category-item block-topic-path--item__current" itemscope
                    itemtype="https://schema.org/ListItem" itemprop="itemListElement">
                    &gt;
                    <a href="https://allu-official.com/shop/g/gVX013794/" itemprop="item">
                        <span itemprop="name">バレンシアガ 16年 ナイロン ナイロンジャケット S メンズ ブラック ロゴ</span>
                    </a>
                    <meta itemprop="position" content="5" />
                </li>


            </ul>


            <ul class="block-topic-path--list" id="bread-crumb-list" itemscope
                itemtype="https://schema.org/BreadcrumbList">
                <li class="block-topic-path--genre-item block-topic-path--item__home" itemscope
                    itemtype="https://schema.org/ListItem" itemprop="itemListElement">
                    <a href="https://allu-official.com/shop/" itemprop="item">
                        <span itemprop="name">ホーム</span>
                    </a>
                    <meta itemprop="position" content="1" />
                </li>

                <li class="block-topic-path--genre-item" itemscope itemtype="https://schema.org/ListItem"
                    itemprop="itemListElement">
                    &gt;
                    <a href="https://allu-official.com/shop/r/r10/" itemprop="item">
                        <span itemprop="name">ブランド一覧</span>
                    </a>
                    <meta itemprop="position" content="2" />
                </li>


                <li class="block-topic-path--genre-item" itemscope itemtype="https://schema.org/ListItem"
                    itemprop="itemListElement">
                    &gt;
                    <a href="https://allu-official.com/shop/r/r10HK/" itemprop="item">
                        <span itemprop="name">バレンシアガ</span>
                    </a>
                    <meta itemprop="position" content="3" />
                </li>


                <li class="block-topic-path--genre-item block-topic-path--item__current" itemscope
                    itemtype="https://schema.org/ListItem" itemprop="itemListElement">
                    &gt;
                    <a href="https://allu-official.com/shop/g/gVX013794/" itemprop="item">
                        <span itemprop="name">バレンシアガ 16年 ナイロン ナイロンジャケット S メンズ ブラック ロゴ</span>
                    </a>
                    <meta itemprop="position" content="4" />
                </li>


            </ul>

        </div>
    </div>
</div>
