<footer class="pane-footer">
  <div class="container">
    <p id="footer_pagetop" class="block-page-top"><a href="javascript:void(0);"></a></p>


    <!--ここから-->
    <div class="block-footer-description">
      <a href="https://allu-official.com/shop/pages/about.aspx">
        <div class="container">
          <h2>ONLINE STORE SERVICE</h2>
          <ul class="points">
            <li>
              <p class="icon"><img src="https://allu-official.com/img/usr/common/footer/icn_footer_quality.png"
                  alt="安心の品質">
              </p>
              <div class="desc">
                <h4>安心の品質</h4>
                <p>
                  すべての商品は経験豊かな鑑定士が査定済み。<br>
                  責任を持って品質を保証します。
                </p>
              </div>
            </li>
            <li>
              <p class="icon"><img src="https://allu-official.com/img/usr/common/footer/icn_footer_return.png"
                  alt="返品無料"></p>
              <div class="desc">
                <h4>返品無料</h4>
                <p>
                  「サイズが合わなかった」「イメージと違った」等の<br>
                  理由による返品が可能です。
                </p>
              </div>
            </li>
            <li>
              <p class="icon"><img src="https://allu-official.com/img/usr/common/footer/icn_footer_speed.png"
                  alt="最短翌日お届け">
              </p>
              <div class="desc">
                <h4>最短翌日お届け</h4>
                <p>
                  12時までにご入金の確認が取れた場合は当日に配送。<br>
                  最短で翌日にお届けいたします。
                </p>
              </div>
            </li>
          </ul>
        </div>
      </a>
    </div>

    <div class="block-footer-sns">
      <ul class="mailmagazine-line">
        <li class="mailmagazine">
          <div class="row">
            <p><img src="https://allu-official.com/img/usr/common/footer/mail.png" alt="Mail"></p>
            <div class="txt">
              <p class="main">
                メルマガで<br>新着情報やお得なクーポンをGET
              </p>
              <p class="sub">
                ALLU ONLINEのメルマガサービスでは、新着情報やSALE情報、お得なクーポンをお届けします。<br><br>
              </p>
            </div>
          </div>
          <a href="https://allu-official.com/shop/customer/entry.aspx">
            会員登録をする
          </a>
        </li>
        <li class="line">
          <div class="row">
            <p><img src="https://allu-official.com/img/usr/common/footer/line.png" alt="LINE"></p>
            <div class="txt">
              <p class="main">
                LINE公式アカウントなら<br>リアルタイムで新着情報をGET
              </p>
              <p class="sub">
                ALLU ONLINEのLINE公式アカウントでは、新着情報をいち早くGETできます。入荷後即完売のアイテムも手に入れられるかも？
              </p>
            </div>
          </div>
          <a href="https://lin.ee/wv7OV06" target="_blank">
            LINEともだち追加する
          </a>
        </li>
      </ul>
      <ul class="sns-list">
        <li class="sns-item instagram">
          <a href="https://twitter.com/allu__official" target="_blank">
            <img src="https://allu-official.com/img/usr/common/footer/twitter.png" alt="Twitter">Twitter
          </a>
        </li>
        <li class="sns-item instagram">
          <a href="https://www.instagram.com/allu_onlinestore/" target="_blank">
            <img src="https://allu-official.com/img/usr/common/footer/insta.png" alt="INSTAGRAM">INSTAGRAM
          </a>
        </li>
        <li class="sns-item facebook">
          <a href="https://www.facebook.com/Allu_onlinestore-2270272379883513/" target="_blank">
            <img src="https://allu-official.com/img/usr/common/footer/facebook.png" alt="Facebook">Facebook
          </a>
        </li>
      </ul>
    </div>

    <div id="footernav" class="block-footernav">
      <div class="block-footernav--col block-footernav--col-01">
        <h3 class="block-footernav--item-title"><a href="https://allu-official.com/shop/" ,TOP">TOP</a></h3>
        <ul class="block-footernav--item-list">
          <!--<li><a href="https://allu-official.com/shop/pages/newarrival.aspx">新着商品</a></li>-->
          <li><a href="https://allu-official.com/shop/r/r10/">ブランド一覧</a></li>
        </ul>
      </div>
      <div class="block-footernav--col block-footernav--col-02">
        <h3 class="block-footernav--item-title">Shopping Guide</h3>
        <ul class="block-footernav--item-list">
          <li><a href="https://allu-official.com/shop/pages/about.aspx">当サイトについて</a></li>
          <li><a href="https://allu-official.com/shop/pages/shoppinguide.aspx">ご利用ガイド</a></li>
          <li><a href="https://allu-official.com/shop/pages/sizeguide.aspx ">サイズガイド</a></li>
          <li><a href="https://allu-official.com/shop/pages/item-rank.aspx">商品のランクについて</a></li>
          <li><a href="https://allu-official.com/shop/pages/watch.aspx">時計のサービスついて</a></li>
        </ul>
        <ul class="block-footernav--item-list">
          <li><a href="https://allu-official.com/shop/pages/shoppinguide.aspx#sg01">お支払について</a></li>
          <li><a href="https://allu-official.com/shop/pages/shoppinguide.aspx#sg02">配送について</a></li>
          <li><a href="https://allu-official.com/shop/pages/shoppinguide.aspx#sg03">返品について</a></li>
          <li><a href="https://allu-official.com/shop/pages/shoppinguide.aspx#sg05">店舗取り寄せについて</a></li>
          <li><a href="https://allu-official.com/shop/pages/shoppinguide.aspx#sg06">お気に入り機能について</a></li>
          <li><a href="https://allu-official.com/shop/pages/yokuaru-questions.aspx">よくある質問</a></li>
        </ul>
      </div>
      <div class="block-footernav--col block-footernav--col-03">
        <h3 class="block-footernav--item-title">Information</h3>
        <ul class="block-footernav--item-list">
          <li><a href="https://allu-official.com/shop/customer/entry.aspx">新規会員登録</a></li>
          <li><a href="https://allu-official.com/shop/customer/menu.aspx">ログイン</a></li>
          <li><a href="https://allu-official.com/shop/contact/contact.aspx">お問い合わせ</a></li>
        </ul>
      </div>
      <div class="block-footernav--col block-footernav--col-04">
        <h3 class="block-footernav--item-title">About us</h3>
        <ul class="block-footernav--item-list">
          <li><a href="https://allu-official.com/shop/pages/about.aspx">ALLUとは</a></li>
          <li><a href="https://www.valuence.inc/japan/" target="_blank">会社概要</a></li>
          <li><a href="https://allu-official.com/shop/pages/business.aspx ">特定商取引法に基づく表記</a></li>
          <li><a href="https://allu-official.com/shop/pages/terms.aspx">利用規約</a></li>
          <li><a href="https://allu-official.com/shop/pages/member.aspx">会員規約</a></li>
          <li><a href="https://allu-official.com/shop/pages/privacy.aspx">プライバシーポリシー</a></li>
          <li><a href="https://www.valuence.inc/japan/common/pdf/antisocial.pdf" target="_blank"
              target="_blank">反社会的勢力排除宣言</a></li>
          <li><a href="https://www.valuence.inc/japan/species-survival/" target="_blank">特別国際種事業者番号</a>
          </li>
        </ul>
      </div>
      <div class="block-footernav--col block-footernav--col-05">
        <h3 class="block-footernav--item-title">Blog</h3>
        <ul class="block-footernav--item-list">
          <li><a href="https://allu-official.com/staff/bloglist/" target="_blank">スタッフブログ</a></li>
          <li><a href="https://allu-official.com/brand/bloglist/" target="_blank">ブランドアイテムブログ</a></li>
        </ul>
        <h3 class="block-footernav--item-title">Shop List</h3>
        <ul class="block-footernav--item-list">
          <li><a href="https://allu-official.com/shop/pages/guide_store_ginza.aspx">ALLU銀座店</a></li>
          <li><a href="https://allu-official.com/shop/pages/guide_store_shinsaibashi.aspx">ALLU心斎橋店</a></li>
          <li><a href="https://allu-official.com/shop/pages/guide_store_alluwatch.aspx">ALLU WATCH</a></li>
          <li><a href="https://allu-official.com/shop/pages/guide_store_alluwatchshinsaibashi.aspx">ALLU WATCH 心斎橋</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="block-site-coution">
      <p class="block-site-coution-title">偽サイト・悪質サイトにご注意ください。</p>
      <p class="block-site-coution-text">弊社と類似した商品や、弊社を装ったインターネットショッピングサイトが多数存在しております。<br>
        該当のサイト上では、無断で弊社の商品画像を使用しており、弊社による出品であるかのように案内されておりますが、弊社とは一切関係がございませんので、くれぐれもご注意ください。<a
          href="https://allu-official.com/shop/t/t1058/">詳しくはこちら</a></p>
    </div>
    <div class="block-kouankyoka-num">
      <p>【東京都公安委員会許可】 第301102004121号</p>
    </div>
    <!--ここまで-->

  </div>
  <div class="block-footer-bottom">
    <div class="container">
      <div class="block-footer-privacy-mark"> <a href="https://privacymark.jp/"
          target="block-category-style-p--item__haveimg"> <img
            src="https://allu-official.com/img/usr/common/footer/footer_privacy_mark.gif"
            alt="たいせつにしますプライバシー 17002456(02)"> </a>
      </div>
      <p id="copyright" class="block-copyright">&copy; 2019 Valuence Japan Inc.</p>
    </div>
  </div>
</footer>
